{% extends 'Template.html' %}
{% block content %}
  <!-- =========================form ==================== -->
                
		    <title>Contact doctor</title>
  <div class="contact">
    <div class="form_1">
 <form action = "{{ url_for('contact_page') }}" method="POST" id="contact" class='input-group-register'>

    <div class="Header1">
        <h2>Select your doctor</h2>
        
    </div>
   <div>
    <div class="select" id="hf">       
        <select name="doctors" id="doctors">
        <option selected disabled value="Select your doctor">Select your doctor</option>
        
        {% for doctor in doctors %}

        <option value="{{ doctor.d_id }}">{{ doctor.d_name }}</option>

        {% endfor %}

        </select>
    </div>
       <br><span></span>
    </div>
     
    
                 
    <div class="Header1">
        <h2>Your Message</h2>
        
    </div>
              <!-- message -->
             
            <div>
               <textarea id="Message"  rows="20" cols="70" name="Message"></textarea>
             
               <span></span>
            </div>

            <button type='submit' id="send">Send</button>
   </form>
</div>
    
</div>
 
    

       
  


    
</div>

   


</div>


<script src="../static/js/contactf.js"></script>

{% endblock %}


              