{% extends 'Template.html' %}
{% block content %}
<title>Medical record</title>
 <!-- =========================information ==================== -->
 <div class="details">
    <div class="information">
        <div class="Header">
            <h2>Your medical record</h2>
            
        </div>
        
        <div >
            <h1 >Diagnosis</h1>
            <label for="name">{{record.diagnosis}}</label>
            
        </div>
        <div>
            <h1>Diseases history</h1>
            <label  for="id">{{record.diseases_history}}</label> 
        </div>
        <div>
            <h1>Restricted drugs</h1>
            <label for="e-mail">{{record.restricted_drugs}}</label> 
        </div>
    
    </div>
 
</div>

</div>

{% endblock %}
                