{% extends 'Template.html' %}
{% block content %}
<!-- =========================information ==================== -->
<title>Patient profile</title>
<div class="details">
    <div class="information">
        <div class="Header">
            <h2>Personal Information</h2>
            
        </div>
        
        <div >
            <h1 >Name</h1>
            <label for="name">{{ user.p_name }}</label>
            
        </div>
        <div>
            <h1>ID</h1>
            <label  for="id">{{ user.p_id }}</label> 
        </div>
        <div>
            <h1>e-mail</h1>
            <label for="e-mail">{{ user.p_email }}</label> 
        </div>
        <div>
            <h1>Phone Number</h1>
            <label for="appointmenr">{{ user.p_phone }}</label> 
        </div>

        <div class="app">
            <h1>Next appointment</h1>
            <label for="appointmenr">next appointment</label> 
            <a href="https://calendar.google.com/calendar" class="btn" target="_blank">View All</a>
        </div>

        
    </div>
</div>


</div>
{% endblock %}
