{% extends 'Template.html' %}
{% block content %}
 <!-- =========================information ==================== -->
 <title>Prescription</title>
 <div class="details">
    <div class="information">
        <div class="Header">
            <h2>Prescription</h2>
            
        </div>
        
        <div >
            <h1 >Doctor name</h1>
            <label for="name">{{record.d_name}}</label>
            
        </div>
        <div>
            <h1>Appointment date</h1>
            <label  for="id">appointment date</label> 
        </div>
        <div>
            <h1>Medicine</h1>
            <label for="e-mail">{{record.drug}}</label> 
        </div>
        

        
    </div>
</div>


</div>
{% endblock %}
                

