<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Template</title>
<!-- ======= Styles ====== -->
<link rel="stylesheet" href='../static/css/style.css'>
</head>

<body>
   <!-- =============== Navigation ================ -->
   <a class="toggle">
    <ion-icon name="menu-outline"></ion-icon>
    </a>
  
<div class="subheader">
    

</div>

   <div class="container">
        <div class="navigation">
             <ul>
                  <li>
                       <a href="#">
                          <span class="icon">
                              <ion-icon name="heart"></ion-icon>
                          </span>
                          <span class="title">Medcare</span>
                        </a>
                   </li>

                    <li>
                         <a href="home.html">
                            <span class="icon">
                              <span title="Home" style="font-size: x-large;">
                                   <ion-icon name="home-outline"></ion-icon>
                                 </span>
                              </span>
                              <span class="title">Home</span>
                         </a>
                     </li>
                      
                                      <li>
                                          <a href="Perscription.html">
                                              <span class="icon">
                                                  <span title="About us" style="font-size: x-large;">
                                                   <ion-icon name="information-circle"></ion-icon>                      
                                              </span>
                                              </span>
                                              <span class="title">About us</span>
                                          </a>
                                      </li>
                      
                                      <li>
                                          <a href="MedicalRecord.html">
                                              <span class="icon">
                                                  <span title="Our Doctors" style="font-size: x-large;">
                                                      <ion-icon name="people"></ion-icon>    
                                                  </span>
                                                  </span>
                                              <span class="title">Our Doctors</span>
                                          </a>
                                      </li>
                      
                                      <li>
                                          <a href="Booking.html">
                                              <span class="icon">
                                                  <span title="Book now" style="font-size: x-large;">
                                                      <ion-icon name="bookmark"></ion-icon>
                                                   </span>
                                              </span>
                                              <span class="title">Book appointment</span>
                                          </a>
                                      </li>
                      
                                      <li>
                                          <a href="Register.html">
                                          
                                              <span class="icon">
                                                  <span title="Registration" style="font-size: x-large;">
                                                   <ion-icon name="log-in"></ion-icon>      
                                                     </span>
                                              </span>
                                              <span class="title">Registration</span>
                                          </a>
                                      </li>
                      
                                      <li>
                                          <a href="contact.html">
                                              <span class="icon">
                                               <span title="Contact Us" style="font-size: x-large;">
                                                            <ion-icon name="headset"></ion-icon>  
                                                  </span>
                                              </span>
                                              <span class="title">Contact Us</span>
                                          </a>
                                      </li>
                      

                                  </ul>
                              </div>
                      
                              <!-- ========================= Main ==================== -->
                              <div class="main">
                    
                          <div id='login-form'class='login-page'>
                              <div id="form-box" class="form-box">
                                  <div class='button-box'>
                                      <div id='btn'></div>
                                      <div>
                                      <button type='button' id="loginbtn" onclick='login()'class='toggle-btn'>Log In</button>
                                      <button type='button' id="regbtn" onclick='register()'class='toggle-btn'>Register</button>
                                            </div>
                                    </div>
                           
                            <form id='login' style="left: 100px;" class='input-group-login'>
                                   <input type='text'class='input-field'placeholder='UserName'  >
                                   <div class="error"></div>
                                <input type='password'class='input-field'placeholder=' Password' >
                              <div class="error"></div>
                           <div class="select">       
                                  <select name="Stuff" id="Stuff">
                                  <option selected disabled >Select an Option</option>
                                  <option value="Admin">Admin</option>
                                  <option value="Doctor" >Doctor </option>
                                  <option value="Patient">Patient</option>
                                  <div class="error"></div>
                                </select>
                              </div>
                              <div class="btnbox">
                              <button type='submit'class='submit-btn'>Log in</button>
                            </div>
                            </form>
                            <form id='register' style="left: 600px;" class='input-group-register'>
                  
                                <!-- Name -->
                                <div>
                                    <div id="input-N" class="input-N">
                                    <input type='text' class='input-field' id="First_Name" placeholder='First Name ' > 
                                    <input type='text' class='input-field' id="Last_Name" placeholder='Last Name' >
                                </div>
                                <span></span>
                                
                                </div>
                    
                                <!-- Mobile phone -->
                                <div>
                                 <input type='number'class='input-field' id="Mobile_phone" placeholder='  Mobile Number ' >
                                 <span></span>
                                </div>
                                <!-- Email -->
                                <div>
                                 <input type='text' id="Email" class='input-field' placeholder='  Email Address' >
                                 <span></span>
                                </div>
                    
                                <!-- UserName -->
                                <div>
                                <input type='text' class='input-field' id="UserName" placeholder=' UserName' >
                                 <span></span>
                                </div>
                    
                                <!-- password -->
                                <div>
                                <input type='password'class='input-field' id="password" placeholder=' Password'  >
                                 <span></span>
                                </div>
                    
                                <!-- date of Birth -->
                                <div>
                                    <label for="dt">Date of Birth :</label>
                                 <input type="date" id="date"class="box" ><br>
                                 <span></span>
                                </div>
                    
                    
                                <!-- gender -->
                                <div>
                                 <label2 for="dt"> Gender :</label2>
                                 <label class="form-control">
                                 <input type="radio"id="Male" class="check" name="gender" value="Male"> Male
                                 <input type="radio" id="Female" class="check2" name="gender" value="Female"> Female
                                 <br><br><span></span>
                    
                                </label>
                                 </div>
                    
                                 <button type='submit'class='submit-btn'>Register</button>
                            </form>
                     
                          </div> 
                                                                                
                                                                              
                            
                              </div>
                          </div>
                      </div>
</div>





<!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script src="../static/js/Script.js"></script>
</body>

</html>